# dot files
.idea/
*.user

# build files
cmake-build-debug/
cmake-build-release/

# build files on non ide
bin/
build/
.cmake
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake
Lua_Parser
Lua_Parser.exe
Lua_Parser.cbp